html, body
{   background-color: white;
    width: 100%;
    height:auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}


header{
    width: 100%;
}

#corregirposcelular{
    display: none;
  
}
.botonbar{
    display:flex;
    align-items: center;
    padding-right: 10%;
}
.container{
    width: 100%;
    position: relative;
    z-index: 4;
    background-color: white;
    display:flex;
}
.ulclass{
    width: 100%;
    align-items: center;
    list-style: none;
    margin: 0;
    padding:0;
    height: 70px;
    display: flex;

}




.barra {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:hsl(233, 9%, 65%) ;
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;
    text-decoration:none;
    
}
   

.container ul li :hover{
    opacity: 1.0;
}
.tareas {
    height: 60px;
    display: inline-block;
    font-weight: 600;
    background-color: white;
    padding: 0% 1%;
    
}
.tareas :hover{
    color: hsl(233, 26%, 24%);     
    border-bottom: solid 5px;
    border-image: linear-gradient( 90deg ,  rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%) 1;
}


#filmina{
    width: 100%;
    
   
    z-index: 1;
    margin: 0px;
    position: relative;
    display: flex;
}
#next{
    
    padding-top: 130px;
    width: 60%;
    padding-left: 24%;
    
    text-align: left;
}
#derecha{
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    
    
}
#fondocolores{
    bottom: 255px;
    position: relative;
    left: 500px;
}

#take{
    font-size: 15px;
    opacity: 0.7;
    line-height:25px;
    padding-left: 24%;
  
}
#izquierda{
    
    width: 50%;
}
#parrafonext{
    font-weight: 400;
    
    font-size: 45px;
    
}
#chose{
    padding: 0;
    margin: 0;
    z-index: 1;
    position: relative;
    
    justify-content: left;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    
    

 
}
#why{
    margin:0;
    top:30px;
    padding-top: 80px;
    padding-left: 12%;
    font-size: 30px;
    

}
#leverage{
    opacity: 0.7;
    padding-left: 12%;
  
}
p{
    color:hsl(233, 26%, 24%);
    font-family: 'Public Sans', sans-serif;
}
#logo{
    padding-left: 12%;
    padding-right: 18%;
    
    }
#botonrequest{
    font-weight: 600;
    outline:none;
    cursor: pointer;
    color: white;
    position: relative;
    text-align: center;
    border: 0px solid ;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
}
.botonN :hover{
    transition: 300ms;
    opacity: 0.5;
}
.botonN{ 
    margin-left: 20px;
    padding-right: 13%;
    width: 100%;  
    display: flex;
    justify-content: flex-end;
}
#botonrequestpos{
    
    padding-top: 15px;
    padding-left: 24%;
}
#botonrequestpos :hover{
    transition: 300ms;
    opacity: 0.5;
}
#filminafototext{
    width:80%;
    margin-top: 30px;
    padding-left: 12%;
    display: flex;
}
.fotot{
    
    width: 25%;
    height: auto;
    padding: 0;
    margin: 2%;
    margin-bottom: 75px;

}
.fototarreglo2{
    width: 25%;
    height: auto;
    padding: 0;
    margin: 2% 2% 2% 0px ;
    margin-bottom: 75px;
}

.textobotones{
    font-weight: 400;
    padding-top: 10px;
    font-size: 24px;
}
.textobotones2{
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    opacity: 0.7;
}
#segundafilmina{
    background-color:hsl(0, 0%, 98%) ;
    padding: 0;
    margin: 0;
    
    justify-content: left;
    position: relative;
    width: 100%;
    
    height: auto;
 
}

.adaptarimagen{
    
 
    height: auto;
}
.imgbox{
width: 100%;
}
.filminatextochico{
    margin: auto;
    width: 80%;
    
}

.verde :hover{
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

.textobotones3{
    
    font-weight: 400;
    
    font-size: 16px;
}
.textobotones4{
    line-height: 18px;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.7;
}
.fotot2{
    background-color: white;
    width: 25%;
    height: auto;
    padding: 0;
    margin: 1%;
    margin-bottom:75px;
}
.fototarreglo{
    background-color: white;
    width: 25%;
    height: auto;
    padding: 0;
    margin: 1% 1% 1% 0% ;
    margin-bottom:75px;
}
.autor{
    padding-top: 20px;
    font-size: 10px;
    width: 80%;
    margin: auto;
    opacity: 0.7;
}
#last{
    position: relative;
    padding-top: 50px;
    padding-left: 12%;
}
#last p{
    font-size: 35px;
}
#footerdiv{

    position: relative;
    display: flex;
    height: 200px;
    background-color:hsl(233, 26%, 24%) ;
}
#todosloslogos{
    margin-right:2%;
    width: 30%;
}
#todaslasopciones{
    font-family: 'Public Sans', sans-serif;
    width: 30%;
    margin-top: 50px;
    color: white;
    display: flex;
}
#botonfoo{

width: 40%;
display: flex;
justify-content: center;
align-items: center;

flex-direction: column;
}
#ladoa{
    position: relative;
    margin-right: 30%;

   
}
#easyfoo{
    margin-bottom: 40px;
    opacity: 0.7;
    font-size: 12px;
    color: white;
    font-family: 'Public Sans', sans-serif;
}
.opcionesfoo{
  
    margin-bottom: 20px;

}
.logosfoo{
    margin-right: 3%;
}
#filmina1{
    
    padding-left: 40%;
    padding-top: 40px;
    margin-bottom: 50px;
}
.menubar{
    display: none;

}

#filmina2{
    padding-left: 40%;

}
#imagenmovil{
    display: none;
}
#celular1{
    z-index: 2;
    position: relative;
   display: flex;
   justify-content: flex-end;
   left: 125px;
}
#movilcelular{
    position: absolute;
    
    bottom: 220px;
    ;
}
.hidden{
    display: none;
}
.attribution{
    position: relative;
    
}
#superfilmina{
    height: 600px;

}


@media all and (max-width:1300px){
    #superfilmina{
        padding-bottom: 70px;

        height: auto;
    }
    #parrafonext{
        font-weight: 400;
        
        font-size: 40px;
        
    }
    #izquierda{
        width: 50%;

    }
    #derecha{
        width: 50%;
    }
    #celular1{
      
        left: 325px;
    }
    #fondocolores{
       
        left: 700px;
    }
    #logo{
        padding-right: 10%;
    }

}
@media all and (max-width: 850px){
    
    #derecha{
        display: none;
    }
  
    #botonrequestpos{
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    #celular1{
        display: none;
    }
    #izquierda{
        width: 100%;
        position: relative;
        margin:5%;
        padding:0;
    }
    #next{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    #parrafonext{
        font-weight: 400;
        display: flex;
        text-align: center;
        font-size: 40px;
        
        


    }
    #take{
        display: flex;
        justify-content: center;
        
        margin: 0;
        padding: 0;
    }


    #parrafotake{
       
        display: flex;
        text-align: center;
    }

    #logo{
        padding-left: 4%;
        padding-right: 3%;

    }


   
}


@media all and (max-width: 650px){


    
  
    #filmina{

    }
    #footerdiv{
        width: 100%;
        height: auto;
        flex-direction: column;
      
    }
    #todosloslogos{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #filmina1{
        width: 100%;
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }
    #filmina2{
        width: 100%;
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }
    #todaslasopciones{
        width: 100%;
        flex-direction: column;
    
    }
    
    #last{
        padding: 0px;
       
        display: flex;
        justify-content: center;
    }
   
    .tareas{
        display: none;
    }
    .botonN{
        display: none;
    }
    .menubar{
        display: flex;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        
    
    }

    #logo{
    padding-left: 20px;
    
    }
    #imagenmovil{
        width: 100%;
       
        display: flex;
        flex-direction: column;
        
    }
    #versionmovil{
        width: 100%;
       
    }
    #derecha{
        display: none   ;
    }
    #izquierda{
        width: 100%;
        position: relative;
        margin:0% 5% 5% 5%;
        padding:0;
    }
    #next{
        width: 100%;
       
        
        padding: 0px;
        
        
    }
    #parrafonext{
        font-weight: 400;
        display: flex;
        text-align: center;
        font-size: 40px;
        
        
        


    }
    #parrafotake{
       
        display: flex;
        text-align: center;
    }
    .fotot2{
        width: 85%;
        position: relative;
        
        text-align: left;
    }
    .fototarreglo{
        width: 85%;
        position: relative;
        text-align: left;
    }


    .fotot{
        width: 85%;
        position: relative;
        margin: 2%;
        text-align: center;
    }
    .fototarreglo2{
        width: 85%;
        position: relative;
        
        text-align: center;
    }
    #take{
        display: flex;
        justify-content: center;
        
        margin: 0;
        padding: 0;
    }

    #filminafototext{
        padding: 0px;

        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    #corregirposcelular{
        display: flex;
        position:absolute;
        Top :0;
        
        
        
      
    }
    #movilcelular2{
        width: 100%;
      
       
    }
    #celular1{
      
     display: none;
       
    }
    
    #movilcelular{
        width: 100%;
       display: block;
    
      
       position: 0;
    }
    #idcelulares{
        display: none;
    }
    #chose{
        position: relative;
    }
    #filmina{
        position: relative;
    }
    
    
    #botonrequestpos{
        padding: 0px;
        display: flex;
        justify-content: center;
    }
    #titulowhy{
      display: flex;
      justify-content: center;
    }
    #why{
       
        display: flex;
        text-align: center;
        
        padding-left: 0px;
    }
    #welever{
        display: flex;
        justify-content: center;
    }
    #leverage{
        width: 85%;
        display: flex;
        text-align: center;
        opacity: 0.7;
        padding-left: 0%;
      
    }
    #ladoa{
        margin-right: 0px;
        display: flex;
        text-align: center;
        flex-direction: column;

    }
    #ladob{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    #botonfoo{
        padding-top: 30px;
        width: 100%;
      
}
}

