$color-gradiente-verde: linear-gradient( 90deg ,  rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%) 1;
$main-font: 'Public Sans', sans-serif;


html, body
{   background-color: white;
    width: 100%;
    height:auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: $main-font;
}

.oculto {
    display: none;
}


header {
    width: 100%;

    .botonbar{
        display:flex;
        align-items: center;
        padding-right: 10%;
    }

    .container{
        width: 100%;
        position: relative;
        z-index: 4;
        background-color: white;
        display:flex;
    }
    .ulclass{
        width: 100%;
        align-items: center;
        list-style: none;
        margin: 0;
        padding:0;
        height: 70px;
        display: flex;
  
        #logo{
            padding-left: 12%;
            padding-right: 18%;
            
            }

        .tareas {
            height:70px;
            display: inline-block;
            font-weight: 600;
            background-color: white;
            padding: 0% 1%;

            &:hover{
                color: hsl(233, 26%, 24%);     
                border-bottom: solid 5px;
                border-image: linear-gradient( 90deg ,  rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%) 1;
            }
            
            
        }

        .botonN{ 
            margin-left: 20px;
            padding-right: 13%;
            width: 100%;  
            display: flex;
            justify-content: flex-end;

            
            &:hover{
                transition: 300ms;
                 opacity: 0.5;
            }


        }


        

    }

    .barra {
        background: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:hsl(233, 9%, 65%) ;
        font-size: 15px;
        font-family: $main-font;
        font-weight: 800;
        border: none;
    }

    .tareas {
        height:70px;
        display: inline-block;
        font-weight: 600;
        background-color: white;
        padding: 0% 1%;
    
        &:hover {
            color: hsl(233, 26%, 24%);     
            border-bottom: solid 5px;
            border-image: $color-gradiente-verde;
        }
    }

}

#mobile-menu {
    position: fixed;
    z-index: 4;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(5,11,25);
    background: linear-gradient(180deg, rgba(5,11,25,1) 0%, rgba(192,227,255,0) 74%);

    #mobile-menu-content {
        background-color: white;
        margin: auto;
        border-radius: 10px;
        width: 80%;
        color: hsl(233, 26%, 24%);
        
    }
    
    #mobile-menu-close {
        display: flex;
        justify-content: flex-end;
        padding: 4vw;
        font-size: 2em;
    }
    
    
    #mobile-links {
        padding: 1vw 10vw 5vw 10vw;
        display: flex;
        flex-direction: column;

        .mobile-menu-link {
            font-family: $main-font;
            font-size: 2em;
            margin: auto;
            padding: 0.3em 0;

            &:focus {
                color: rgba(49,211,92,1);
            }
        }

    }
    
}


#page-content {
    height:fit-content;
    
    #home{

        #imagenmovil{
            display: none;
        }

        #filmina{
            width: 100%;
            height: 600px;
            padding-left: 12%;
            z-index: 1;
            margin: 0px;
            position: relative;
            display: flex;
    
            #izquierda{
        
                width: 50%;
    
                #next{
        
                    padding-top: 130px;
                    width: 60%;
                    text-align: left;
    
                    #parrafonext{
                        font-weight: 400;
                        
                        font-size: 45px;
                        
                    }
    
    
                
                }
    
                #take{
     
                    width: 80%;
                    font-size: 15px;
                    opacity: 0.7;
                    line-height:25px;
                    
                  
                }
    
                #botonrequestpos{
        
                    padding-top: 15px;
                    
                }
            }
    
            #derecha{
                background-repeat: no-repeat;
                width: 50%;
                display: flex;
                justify-content: flex-end;
                
                #fondocolores{
                    position: relative;
                    right: calc(-20em + -1vw);
                    transform: scale(1.5);
                }
            }
    
 
        }

        #chose{
            padding: 0;
            margin: 0;
            z-index: 1;
            position: relative;
            
            justify-content: left;
            width: 100%;
            height: auto;
            background-color: whitesmoke;
            
            #titulowhy{

                #why{
                    margin:0;
                    top:30px;
                    padding-top: 80px;
                    padding-left: 12%;
                    font-size: 30px;
                    
                
                }

            }

            #welever{

                #leverage{
                    opacity: 0.7;
                    padding-left: 12%;
                  
                }  

            }

                
            .filminafototext{
                   
                    .fotot{
    
                        width: 25%;
                        height: auto;
                        padding: 0;
                        margin: 2%;
                        margin-bottom: 75px;
                    
                        .textobotones{
                            font-weight: 400;
                            padding-top: 10px;
                            font-size: 24px;
                        }

                        .textobotones2{
                            font-size: 15px;
                            line-height: 25px;
                            font-weight: 300;
                            opacity: 0.7;
                        }

                    }
                }   
        
         
        }

        #segundafilmina{
            background-color:hsl(0, 0%, 98%) ;
            padding: 0;
            margin: 0;
            
            justify-content: left;
            position: relative;
            width: 100%;
            
            height: auto;
         
            #last{
                position: relative;
                padding-top: 50px;
                padding-left: 12%;

                p{
                    font-size: 35px;
                }
            }


            
        }

        #celular1{
            z-index: 2;
            position: relative;
           display: flex;
           justify-content: flex-end;
           left: 125px;

           #movilcelular{
            position: absolute;
            
            bottom: -200px;
            ;
            }
        }
    

    }
    
    #blog{
        #contenedorblog{

            
                background-color:white;
                display: flex;
               

            #blogprincipal{

               
                    padding-left: 5%;
                    padding-right: 5%;
                    width: 60%;
                    display: flex;
                    text-align: center;
              
                    span {
                        text-align: justify;
                    }

                #filminablogprincipal{
                    width: 100%;
                    margin: 5%;

                    #update{
                        font-size: 12px;
                        color: rgb(240, 0, 0);
                    }

                    #estadisticaprincipal{
                        width: 50%;
                        border-radius: 0;
                    }
                
                   #filminablogprincipalfoto {
    
                    width: 100%;

                    p{

                        #coment{
                            font-size: 12px;
                        }

                        .correcciontextoblogprincipal{
                            color: hsl(233, 26%, 24%);
                            font-family: 'Public Sans', sans-serif;
                        
                            font-size: 15px;
                            display: flex;
                            text-align: left;
                        }

                        #tituloblogprincipal{
                            font-size: 45px;
                        }

                        #estadisticas{
                            padding-top: 40px;
                            display: flex;
                            position: relative;
                            justify-content: center;

                            div {
                                display: flex;
                                
                            }

                            p{
                                opacity: 0.7;
                                width: 25%;
                                text-align: center;
                            }

                            span{
                                font-size: 45px;
                                font-weight: 900;
                            }


                        }
                    }
                  
                    
                }
            }


            }
            #filminablog{
    
                display: flex;
                justify-content: flex-end;
            
                #filminafototextblog{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width:100%;
                    margin-top: 30px;
                    
                    #lastblog{
                        text-align: center;
                        position: relative;
                        
                       p{
                            margin-top: 0;
                            font-size: 35px;
                        }
                    
                    }

                    .fototarregloblog{
                        width: 60%;
                        height: auto;
                        padding: 0;
                        background-color: rgb(226, 225, 225);
                        margin-bottom: 75px;
                    }
                    

                    .fototblog{
                        background-color: rgb(226, 225, 225);
                        width: 60%;
                        height: auto;
                        padding: 0;
                        margin: 2%;
                        margin-bottom: 75px;
                    
                    }
                   
                }

                
            }
        }
    }

    #about{
        margin: 0;
        padding: 0;

        #contenedorapp{

            background-color: rgb(243, 243, 243);    
            text-align: center;
            padding-bottom: 200px;

            #contenedorapptitulo{
                font-size: 80px;
                font-weight: 800;
                margin-top: 0;
                padding-top: 100px;
                margin-bottom: 0;
                padding-bottom: 40px;
            }

            #contenedorappimagen{
    
                margin: auto;
                width: 50%;
                border-radius: 5%;
                align-items: center;
            }

            #parrafoapp {
                margin-top: 0;
                padding-bottom: 100px;
            }
               
            }

        #filminaAbout{
            display: flex;
            position: relative;

            #contenedorTextoAbout {
 
                padding: 100px 0px 100px 0px;
                padding-left: 12%;
            
                position: relative;
                width: 38%;
              
                height: auto;
                
                 p {
                    padding-right: 10%;
                }

                #parrafoAbout{
                    font-size: 15px;
                    opacity: 0.7;
                    line-height:25px;
                }
                div{
                    span {

                        font-size: 45px;
                    
                    
                        font-weight: 400;
                    
                       
                    }

                }

                #meet{
                    font-family: 'Public Sans', sans-serif;
                    font-size: 15px;
                    color: rgb(28, 78, 170);
                }
              
                
            }

            #contenedorImagenAbout{
                display: flex;
                width: 60vw;
                height: auto;
                justify-content: flex-end;

                #imagenAbout {
                    width: 100%;
                    margin:auto;
                    
                    
                    padding-top: 30px;
                    padding-bottom: 30px;
                    
                    
                    }
            }
            
        }
    }

    #contact{
        padding-bottom: 200px;
        padding-top: 100px;

        #formcontact{
            width: 70%;
            margin:auto;

            .form-row{

                padding-bottom: 50px;

                #inputhelp{
                    padding-top: 100px;
                }

                .contenedoropcionform {

   
                  color: hsl(233, 26%, 24%);
                  padding: 5px;

                    .form-control{

                        font-family: 'Public Sans', sans-serif;
                        color: hsl(233, 26%, 24%);
                        opacity: 0.7;
                        padding-left: 15px;
                        
                    }

                    label{
                        font-family: 'Public Sans', sans-serif;
                        font-size: 35px;
                        color: hsl(233, 26%, 24%);
                        opacity: 0.7;
                    }

                    input{
                        width: 200px;
                        height: 1.5em;
                        font-family: 'Public Sans', sans-serif;
                        font-size: 1.5em;
                        border-radius: 30px;

                        
                        


                       &:focus {
                            outline: none;
                            border: 2px solid hsl(136, 65%, 51%);
                        }
                        

                    
                    }


                    textarea {
                        font-size: 1.5em;
                        border-radius: 20px;

                        &:focus {
                            outline: none; 
                            border: 2px solid hsl(136, 65%, 51%);
                        }
                    }

                    #help{
                        width: 100%;      
                        height: 300px ;
                    }
                }



            }
            #submitform{

                .form-check{

                    
                    #checkterms{
                        width: 18px;
                        height: 18px;
                    }

                    label{
                         
                        #termsandconditions{
                            font-family: 'Public Sans', sans-serif;
                            font-size: 18px;
                            color: hsl(233, 26%, 24%);
                            opacity: 0.8;
                        }

                    }
                }
            }
        }

    }

    #download-app {

        height: 70vh;
        
           .store {
               height: 100%;
               display: flex;
               align-items: center;
               margin: auto;
               width: 50%;
               justify-content: center;
               font-family: 'Nunito', sans-serif;


               a {
                position: relative;
                border: 0;
                text-decoration: none;
                line-height: 38px;
                display: inline-block;
                padding: 0px 20px 0px 36px;
                border-radius: 5px;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
                overflow: hidden;
                font-weight: 600;
                font-size: 1.5em;
                color: rgba(255,255,255,0.9);
                margin: 10px;


                &:hover {
                    color: #fff;

                    &:after {
                        -webkit-animation: shine 0.8s ease;
                        -moz-animation: shine 0.8s ease;
                        -o-animation: shine 0.8s ease;
                        -ms-animation: shine 0.8s ease;
                        animation: shine 0.8s ease;
                      }
                      @-moz-keyframes shine {
                        to {
                          left: 200px;
                        }
                      }
                      @-webkit-keyframes shine {
                        to {
                          left: 200px;
                        }
                      }
                      @-o-keyframes shine {
                        to {
                          left: 200px;
                        }
                      }
                      @keyframes shine {
                        to {
                          left: 200px;
                        }
                    }
                  }

                 &:after {
                    content: '';
                    position: absolute;
                    width: 200px;
                    left: -200px;
                    -webkit-transform: skewX(-25deg);
                    -moz-transform: skewX(-25deg);
                    -o-transform: skewX(-25deg);
                    -ms-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                    background-image: -webkit-linear-gradient(left, transparent, rgba(255,255,255,0.14), transparent);
                    background-image: -moz-linear-gradient(left, transparent, rgba(255,255,255,0.14), transparent);
                    background-image: -o-linear-gradient(left, transparent, rgba(255,255,255,0.14), transparent);
                    background-image: -ms-linear-gradient(left, transparent, rgba(255,255,255,0.14), transparent);
                    background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.14), transparent);
                    height: 50px;
                } 


                i {
                    font-size: 0.8em;
                    position: absolute;
                    margin-top: 9px;
                    margin-left: -20px;
                  }
              }

              .appstore {
                background: #191919;
              }

              .playstore {
                background: #22afc2;
              }

            }
    } 

 
}

.menubar{
                
    display: none;
        
    }

.filminafototext{
    width:80%;
    margin-top: 30px;
    padding-left: 12%;
    display: flex;
}

#footerdiv{
    
    justify-content: center;
    position: relative;
    display: flex;
    height: 200px;
    background-color:hsl(233, 26%, 24%) ;

    #todosloslogos{
        margin-right:2%;
        width: 30%;
        
        #filmina1{
            padding-left: 40%;
            padding-top: 40px;
            margin-bottom: 50px;
        }

        #filmina2{

            padding-left: 40%;

            .logosfoo{
                margin-right: 3%;
            }
        }
    }

    #todaslasopciones{
        font-family: 'Public Sans', sans-serif;
        width: 30%;
        margin-top: 50px;
        color: white;
        display: flex;

        #ladoa{
            position: relative;
            margin-right: 30%;
        
            .opcionesfoo{

                margin-bottom: 20px;
            
            }
           
        }

        #ladob{

            .opcionesfoo{

                margin-bottom: 20px;
            
            }
        }
    }

    #botonfoo{

        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        flex-direction: column;
        }

        #easyfoo{
            margin-bottom: 40px;
            opacity: 0.7;
            font-size: 12px;
            color: white;
            font-family: 'Public Sans', sans-serif;
        }
}

.attribution{
    position: relative;
    background-color: hsl(233, 26%, 24%);
    color: white;
    font-size: 0.8em;
    padding-left: 1vw;    
}


.adaptarimagen{
    height: 150px;
    overflow: hidden;

    .imgbox{
        width: 100%;
        }
}

.autor{
    padding-top: 20px;
    font-size: 10px;
    width: 80%;
    margin: auto;
    opacity: 0.7;
}

.filminatextochico{
    margin: auto;
    width: 80%;

    .verde{

        &:hover{
            color: hsl(136, 65%, 51%);
            cursor: pointer;

            .textobotones3{

                font-weight: 400;
                
                font-size: 16px;
            }
        }
    }
    

    .textobotones4{
        line-height: 18px;
        font-size: 12px;
        font-weight: 300;
        opacity: 0.7;
    }

}

.botonrequest{
    font-weight: 600;
    outline:none;
    cursor: pointer;
    color: white;
    position: relative;
    text-align: center;
    border: 0px solid ;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    transition: 300ms;

    &:hover{
        opacity: 0.5;
    }
}

p{
    
    color:hsl(233, 26%, 24%);
    font-family: 'Public Sans', sans-serif;
}

.fotot2 {
    background-color: white;
    width: 25%;
    height: auto;
    padding: 0;
    margin: 1%;
    margin-bottom:75px;


}


@media all and (max-width:1300px){

    #page-content{

        #home{

            #filmina{

                #izquierda{
                    width: 50%;

                    #next{

  
                        #parrafonext{
                            font-size: 30px;
                      }



                    }
            
                }
                #derecha{
                    width: 50%;
                }



            }

            #celular1{
                  
                left: 325px;
            }
        }
    }

    header{

        .container{

            .ulclass{

                #logo{
                    padding-right: 10%;
                }


            }
        }
    }


   


}


@media all and (max-width: 1000px){

    #page-content{

        #home{

            #filmina{
                padding-left: 0;


                #derecha{
                    display: none;
                }

                
                #izquierda{
                    width: 100%;
                    position: relative;
                    margin:5%;
                    padding:0;

                    #next{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding-left: 0px;

                        #parrafonext{
                            font-weight: 400;
                            display: flex;
                            text-align: center;
                            font-size: 40px;
                            
                            
                    
                    
                        }
                    }

                    #take{
                        display: flex;
                        justify-content: center;
                       
                        margin: auto;
                        padding: 0;
                
                        #parrafotake{
                       
                            display: flex;
                            text-align: center;
                        }
                    }

 
                    #botonrequestpos{

                        display: flex;
                        justify-content: center;
                        padding-left: 0px;

                    }
                    

                    
                }

            }
            
            #celular1{
                display: none;
            }

        }

        #about{

            #filminaAbout{
                display: block;
        
                #contenedorTextoAbout{
                    margin:auto;
                    padding: 100px 0px 100px 0px ;
                    text-align: center;
                    width:70%;
                    padding: 100px 0px 20px 0px;
            
                    p {
                        padding-right: 0;
                     
                    }
                  
                }
                
                #contenedorImagenAbout {
        
                    margin: auto;
                    justify-content: center;
                    width: auto;}
        
                #imagenAbout{
                    width: 70%;
                    padding-right: 0;
                    margin: auto;
                }
            
            }
        
        }
        
    }


 
   header{

     .container{

        .ulclass{

            #logo{
                padding-left: 4%;
                padding-right: 3%;
        
            }
        }
     }
   }
 
    
   .filminafototext {
    padding-left: 0;
    margin: auto;
} 


#blog{

    
    #contenedorblog{
        flex-direction: column;

        #blogprincipal {
            width: 90vw;
            margin:auto;
    
            span {
                text-align: justify;
            }
        }
    
    }


}




#contact{

    #download-app{


        
    .store {
        flex-direction: column;
    }

    }
}

 
  


   
}

@media all and (max-width: 650px){


 #about{
     #contenedor-app{


        #contenedorapptitulo {
            font-size: calc(3em + 2vw);
        }

     }
 }




 
#blog{

        #contenedorblog{    

            #blogprincipal{

                #filminablogprincipal{ 

                    #estadisticas{

                        span {
                            font-size: calc(1.5em + 2vw);
                        }
                    
                        p {
                            font-size: calc(0.5em + 2vw);
                        }
                    }

                }  

            }
        }

    }


    
    #footerdiv{
        width: 100%;
        height: auto;
        flex-direction: column;

        #todosloslogos{
            width: 100%;
            display:flex;
            flex-direction: column;
            align-items: center;
       

        #filmina1{
            width: 100%;
            padding-left: 0px;
            display: flex;
            justify-content: center;
        }

        #filmina2{
            width: 100%;
            padding-left: 0px;
            display: flex;
            justify-content: center;
        }
      
      }

      #todaslasopciones{
        width: 100%;
        flex-direction: column;

        #ladoa{
            margin-right: 0px;
            display: flex;
            text-align: center;
            flex-direction: column;
    
        }
        #ladob{
            display: flex;
            text-align: center;
            flex-direction: column;
        }
    
      }

      #botonfoo{
        padding-top: 30px;
        width: 100%; 
    }

      
    }


#page-content{

    #home{

        #imagenmovil{
            width: 100%;
           
            display: flex;
            flex-direction: column;
            
            

             #versionmovil{
                    width: 100%;
                   
             }
          

            #corregirposcelular{
                display: flex;
                position:absolute;
                Top :0;
                
                #movilcelular2{
                    width: 100%;
                  
                   
                }
                
              
            }
            
        }
        #segundafilmina{

            #last{
                  padding: 0px;
       
                 display: flex;
                 justify-content: center;
                }

           .filminafototext{

            .fotot2{
                width: 85%;
                position: relative;
                
                text-align: left;
            }
           }     
        }

        #filmina{  
            
            position: relative;
   

            #derecha{
                display: none   ;
            }
            #izquierda{
                width: 100%;
                position: relative;
                margin:0% 5% 5% 5%;
                padding:0;

                #next{
                    width: 100%;
                   
                    
                    padding: 0px;
                    
                    #parrafonext{
                        font-weight: 400;
                        display: flex;
                        text-align: center;
                        font-size: 40px; 
                
                    }
                }

                #take{

                    display: flex;
                    align-items: center;
                    text-align: center;
                    margin: auto;
                    padding: 0;


                    #parrafotake{
       
                        display: flex;
                        text-align: center;
                    }
                }

                #botonrequestpos{
                    padding: 0px;
                    display: flex;
                    justify-content: center;
                }
            }

        }

        #chose{

           
                position: relative;
          


             #titulowhy{
                    display: flex;
                    justify-content: center;
              
                    #why{
                     
                      display: flex;
                      text-align: center;
                      
                      padding-left: 0px;
                }
             }


            .filminafototext{

                .fotot{
                    width: 85%;
                    position: relative;
                    margin: 2%;
                    text-align: center;
                }
    

            }

            #welever{
                display: flex;
                justify-content: center;
        
                #leverage{
                    width: 85%;
                    display: flex;
                    text-align: center;
                    opacity: 0.7;
                    padding-left: 0%;
                  
                }
            }


            
        }

        
       #celular1{
      
        display: none;


        #movilcelular{
            width: 100%;
           display: block;
        
          
           position: 0;
        }
          
       }


    }
}
    
    
header{

    .container{

        .ulclass{

            #logo{
                padding-left: 20px;
                
                }

            .tareas{
                display: none;
            }

            
           .botonN{
               display: none;
            }




        }
    }
}

.menubar{
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    

}
   
.filminafototext{
        padding: 0px;

        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    

    

    /*#idcelulares{
        display: none;  NO ESTÁ EN NINGUN SITIO
    }*/

}


